
body{
	background-image: linear-gradient(to right, #cdb3f4 , #fff3b4);
}
div.header{
	background-color: rgba(255, 255, 255, 0.99);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	height: 40px;
	box-sizing: border-box;
}
div.header div{
	display: inline-block;
	margin-top: 0;
	width: 33%;
	text-align: center;

}
div.headerr{
	/*border-bottom: 4px solid black ;*/
	box-shadow: 0px 2px 0px black ;
} 

div.header div:hover{
	background-color: #eae9e5;
}
div.header a{
	font: normal normal bolder 20px/38px "Montserrat", Montserrat-FF, Arial, Tahoma, sans-serif;
	text-decoration: none;
}
div.header a:visited{
	color: black;
}
.container{
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
	width: 70%;
	margin: 0 auto;
	padding: 10px;
}
div.container h1,h2,h3{
	font-family:arial, sans-serif; ;
	font-weight: bolder;
	
	margin:15px 0 15px 0;
}
h1{
	font-size: 24px;
}
img{
	display: block;
	margin: 10px auto;
	text-align: center;
	height: 300px;
	border-radius: 5px;
}
tr img{
	height: 200px;
	margin: 0 10px 0 0 ;
}
table{
	margin: 5px;
	font-size: 17px;
	
}
td.kolomA{
	width: 200px;
	padding: 5px;
	vertical-align: top;

}
td.kolomB{
	width: 300px;
	padding: 5px;
	vertical-align: top;
}


.container table.NoBorder tr  td{
	text-indent: -8px;
}
.Bold{
	font-weight: bold;
}
.container p, li{
	font-family: "Helvetica", Helvetica-FF, Arial, Tahoma, sans-serif;
	font-size: 15px;
	text-align: justify;
	text-indent: 10px;
	line-height: 20px;
	letter-spacing: 0.3px;
	word-spacing: 1px;
}
td{
	font-family: "Helvetica", Helvetica-FF, Arial, Tahoma, sans-serif;
	font-size: 15px;
}